= form_for([@recipe, @recipe_ingredient]) do |ri_form|
  = render 'shared/form_errors', :target => @recipe_ingredient
  %p
    = ri_form.label :ingredient
    %br
    = ri_form.collection_select(:ingredient, Ingredient.all, :id, :name)
    %br

    Don't see what you're looking for?
    = link_to 'Add Ingredient', new_ingredient_path

  %p
    = ri_form.label :quantity
    %br
    = ri_form.text_field :quantity
  %p
    = ri_form.submit 'Save'
