<h1>New recipe_ingredient</h1>

<%= form_for(@recipe) do |recipe_form| %>
  <%= recipe_form.error_messages %>
  <%= recipe_form.fields_for :recipe_ingredients do |ri_form| %>

  <p>
    <%= ri_form.label :recipe %><br />
    <%= ri_form.text_field :recipe %>
  </p>
  <p>
    <%= ri_form.label :ingredient %><br />
    <%= ri_form.text_field :ingredient %>
  </p>
  <p>
    <%= ri_form.label :quantity %><br />
    <%= ri_form.text_field :quantity %>
  </p>
  <p>
    <%= ri_form.submit 'Create' %>
  </p>
  <% end %>
<% end %>

<%= link_to 'Back', recipe_recipe_ingredients_path(@recipe) %>
