<p>
  <b>Recipe:</b>
  <%=h @recipe_ingredient.recipe.name %>
</p>

<p>
  <b>Ingredient:</b>
  <%=h @recipe_ingredient.ingredient.name %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @recipe_ingredient.quantity %>
</p>


<%= link_to 'Edit', edit_recipe_recipe_ingredient_path(@recipe_ingredient.recipe, @recipe_ingredient) %> |
<%= link_to 'Back', recipe_recipe_ingredients_path(@recipe_ingredient.recipe) %>
