<h1>Editing beer_style</h1>

<%= form_for(@beer_style) do |f| %>
  <%= render 'shared/form_errors', :target => @beer_style %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @beer_style %> |
<%= link_to 'Back', beer_styles_path %>
