%h1 Hops

%table#hops
  %thead
    %tr
      %th Name
      %th Origin
      %th Alpha Acid %
      %th Use
      - if can?(:update, Hop) or can?(:destroy, Hop)
        %th controls
  %tbody
    - for hop in @hops
      %tr
        %td= link_to hop.name, hop
        %td= hop.origin
        %td= "#{hop.alpha_acid.round(1)}%"
        %td= hop.typical_use
        %td
          =link_to 'Edit', edit_hop_path(hop) if can? :update, hop
          - if can? :destroy, hop
            = link_to 'Destroy', hop, confirm: 'Are you sure?', method: :delete

%br.clear

= link_to 'New Hop', new_hop_path if can? :create, Hop
