%h1 Hops

%table
  %tr
    %th Name
    %th Origin
    %th Alpha Acid %
    %th Use
    - if can?(:update, Hop) or can?(:destroy, Hop)
      %th{:colspan => '2'}
  - for hop in @hops
    %tr
      %td= link_to hop.name, hop
      %td= hop.origin
      %td= "#{hop.alpha_acid}%"
      %td= hop.typical_use
      %td= link_to 'Edit', edit_hop_path(hop) if can? :update, hop
      - if can? :destroy, hop
        %td= link_to 'Destroy', hop, confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Hop', new_hop_path if can? :create, Hop
