- beer_style = beer_style || BeerStyle.new
- show_name = show_name || false

- if show_name
  %em.name= beer_style.name || ''

.orig_grav
  %strong SG
  %span.min_orig_grav= beer_style.min_orig_grav || ''
  \-
  %span.max_orig_grav= beer_style.max_orig_grav || ''
.final_grav
  %strong FG
  %span.min_final_grav= beer_style.min_final_grav || ''
  \-
  %span.max_final_grav= beer_style.max_final_grav || ''
.color
  %strong Color
  %span.min_color= beer_style.min_color
  \-
  %span.max_color= beer_style.max_color
  SRM
.bitterness
  %strong IBUs
  %span.min_IBUs= beer_style.min_IBUs
  \-
  %span.max_IBUs= beer_style.max_IBUs
  IBUs
.alcohol
  %strong ABV
  %span.min_abv= beer_style.min_abv
  \-
  %span.max_abv= beer_style.max_abv
  \%
.carbonation
  %strong Carbonation
  %span.min_carbonation= beer_style.min_carbonation
  \-
  %span.max_carbonation= beer_style.max_carbonation
  vols

