.beer-profile
  %h3= @recipe.beer_style.name
  .batch-attributes
    .attribute
      %b Mash type
      = @recipe.mash_type
    .attribute
      %b Batch size
      = @recipe.batch_size

  %fieldset.style-guide
    %legend Style Guide
    = render partial: 'beer_style_guide', locals: { beer_style: @recipe.beer_style }

  %fieldset.recipe-profile
    %legend Recipe Profile
    .gravity
      %strong SG
      %span= @recipe.profile.calculated_starting_gravity.to_s + ' SG'
      %br
      %strong FG
      %span= @recipe.profile.calculated_final_gravity.to_s + ' SG'
    .alcohol
      %strong Estimated ABV
      todo
      %br
      %strong Actual ABV
      todo
    .color
      %strong Color
      todo
    .bitterness
      %strong IBUs
      %span= @recipe.profile.IBUs.round(2)
      %br
      %strong Bitterness Ratio
      %span= @recipe.profile.bitterness_ratio.round(2).to_s + ' IBUs/SG'

