.beer-profile
  %h3= @recipe.beer_style.name
  .batch-attributes
    .attribute
      %b Mash type
      = @recipe.mash_type
    .attribute
      %b Batch size
      = "#{@recipe.batch_size} gallons"

  %fieldset.style-guide
    %legend Style Guide
    = render partial: 'beer_style_guide', locals: { beer_style: @recipe.beer_style }

  %fieldset.recipe-profile
    %legend Recipe Profile
    .header
      %strong &nbsp;
      %span Estimated
      %span Actual
    .starting-gravity
      %strong SG
      %span.value= format_gravity(@recipe.profile.calculated_starting_gravity)
      %span.value= format_gravity(@recipe.original_gravity)
      SG
    .final-gravity
      %strong FG
      %span.value= format_gravity(@recipe.profile.calculated_final_gravity)
      %span.value= format_gravity(@recipe.final_gravity)
      SG
    .abv
      %strong ABV
      %span.value= @recipe.profile.estimated_ABV.round(2).to_s + '%'
      %span.value= @recipe.profile.actual_ABV.round(2).to_s + '%'
    .color
      %strong Color
      %span.value= @recipe.profile.color.to_s
      SRM
    .bitterness
      %strong Bitterness
      %span= @recipe.profile.IBUs.round(2)
      IBUs
    .bitterness-ratio
      %strong Bitterness Ratio
      %span= @recipe.profile.bitterness_ratio.round(2).to_s
      IBUs/SG

