%fieldset.fermentables-vitals
  %legend Malt Profile
  .starting-gravity
    %strong Estimated SG
    %span= @recipe.profile.calculated_starting_gravity
  .final-gravity
    %strong Estimated FG
    %span= @recipe.profile.calculated_final_gravity
  .estimated-abv
    %strong Estimated ABV
    %span= @recipe.profile.estimated_ABV.round(2).to_s + '%'
  .actual-abv
    %strong Actual ABV
    %span= @recipe.profile.actual_ABV.round(2).to_s + '%'
  .color
    %strong Color
    %span= @recipe.profile.color.to_s + ' SRM'
