<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :beer_style %><br />
    <%= f.collection_select(:beer_style, BeerStyle.all, :id, :name) %><br />
    <%= link_to 'Add new style', new_beer_style_path %>
  </p>
  <p>
    <%= f.label :mash_type %><br />
    <%= f.select(:mash_type, [['All Extract', :extract], ['All Grain', :grain], ['Partial Mash', :partial]]) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :batch_size %><br />
    <%= f.text_field :batch_size %>
  </p>
  <p>
    <%= f.label :original_gravity %><br />
    <%= f.text_field :original_gravity %>
  </p>
  <p>
    <%= f.label :final_gravity %><br />
    <%= f.text_field :final_gravity %>
  </p>
  <p>
    <%= f.label :bitterness %><br />
    <%= f.text_field :bitterness %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.label :procedure %><br />
    <%= f.text_area :procedure %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
<%= link_to 'Add Ingredient to Recipe', new_recipe_recipe_ingredient_path(@recipe) %>

