= form_for(@recipe) do |f|
  = render 'shared/form_errors', :target => @recipe

  = hidden_field_tag(:user_id, @recipe.user_id)

  %fieldset.field-row
    %legend Basics
    .field-row
      .field-group
        .field-label= f.label :name
        .field= f.text_field :name
      .field-group
        .field-label= f.label :mash_type
        .field= f.select(:mash_type,
          [['All Extract', :extract], ['All Grain', :grain], ['Partial Mash', :partial]])
      .field-group
        .field-label= f.label :batch_size
        .field=f.text_field(:batch_size, :size => 3) + ' gallons'

    .field-row
      .field-group
        .field-label= f.label :beer_style
        .field= f.collection_select(:beer_style_id, BeerStyle.all, :id, :name,
          {:include_blank => true},
          {:class => 'chzn-select', :'data-placeholder' => "Choose a Beer Style..."})

      .field-group
        .field-label= f.label :original_gravity
        .field= f.text_field(:original_gravity, :size => 6) + ' SG'
      .field-group
        .field-label= f.label :final_gravity
        .field= f.text_field(:final_gravity, :size => 6) + ' SG'
  %br

  %fieldset.field-row
    %legend.field-label= f.label :description
    .field= f.text_area :description, :size => "60x4"

  %fieldset.field-row
    %legend.field-label= f.label :procedure
    .field= f.text_area :procedure, :size => "60x4"

  .field-row.controls
    .right= f.submit(@recipe.new_record? ? 'Next' : 'Save')
    .right= link_to 'Cancel', @recipe, class: 'button cancel'


  %br.clear

- unless @recipe.new_record?
  .style-guide
    %h3 Beer Style Guide
    = render 'recipes/beer_style_guide'
  %br.clear

  %h2 Fermentables
  #fermentable_additions_edit
    = render 'recipes/fermentable_additions_edit'

  %h2 Hops
  #hop_additions_edit
    = render 'recipes/hop_additions_edit'

  %h2 Yeast
  #yeast_additions_edit
    = render 'recipes/yeast_additions_edit'

