.recipe-listing
  = link_to recipe.name, recipe
  %em= recipe.beer_style.name
  = "(#{recipe.mash_type})"
  = "#{recipe.original_gravity} - #{recipe.final_gravity} | "
  = "#{recipe.profile.IBUs.round} IBUs "
  - if can? :destroy, recipe
    |
    = link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete
