= form_for(@recipe) do |f|
  = render 'shared/form_errors', :target => @recipe

  = hidden_field_tag(:user_id, @recipe.user_id)

  %fieldset.field-row
    .field-row
      .field-group
        .field-label= f.label :name
        .field= f.text_field :name
      .field-group
        .field-label= f.label :mash_type
        .field= f.select(:mash_type, [['All Extract', :extract], ['All Grain', :grain], ['Partial Mash', :partial]])
      .field-group
        .field-label= f.label :batch_size
        .field=f.text_field(:batch_size, :size => 3) + ' gallons'

    .field-row
      .field-group
        .field-label= f.label :beer_style
        .field= f.collection_select(:beer_style, BeerStyle.all, :id, :name)

  %br

  %fieldset.field-row
    %legend.field-label= f.label :description
    .field= f.text_area :description, :size => "60x4"

  %fieldset.field-row
    %legend Vitals
    .field-group
      .field-label= f.label :original_gravity
      .field= f.text_field(:original_gravity, :size => 6) + ' SG'
    .field-group
      .field-label= f.label :final_gravity
      .field= f.text_field(:final_gravity, :size => 6) + ' SG'
    .field-group
      .field-label= f.label :bitterness
      .field= f.text_field(:bitterness, :size => 6) + ' IBUs'
    .field-group
      .field-label= f.label :color
      .field= f.text_field(:color, :size => 6) + ' SRM'

  %fieldset.field-row
    %legend.field-label= f.label :procedure
    .field= f.text_area :procedure, :size => "60x4"

  .field-row.controls
    .right= f.submit(@recipe.new_record? ? 'Next' : 'Save')

  %br.clear

- unless @recipe.new_record?
  %fieldset.field-row
    %legend.field-label Ingredients

    %h3 Fermentables
    = render :partial => 'fermentable_additions/list'

    %h3 Hops
    - @recipe.hop_additions
    - if @recipe.hop_additions
      = render(:partial => 'hop_additions/hop_addition',
               :collection => @recipe.hop_additions,
               :locals => { :show_controls => true })
    = link_to 'Add Hop', new_recipe_hop_addition_path(@recipe)

    %h3 Yeast
    = render :partial => 'yeast_additions/recipe_listing',
             :collection => @recipe.yeast_additions,
             :as => :yeast_addition,
             :locals => { :show_controls => true }

    = link_to "Add Yeast", new_recipe_yeast_addition_path(@recipe)


