<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mash type</th>
    <th>Description</th>
    <th>Batch size</th>
    <th>Original gravity</th>
    <th>Final gravity</th>
    <th>Bitterness</th>
    <th>Color</th>
    <th>Procedure</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%=h recipe.name %></td>
    <td><%=h recipe.mash_type %></td>
    <td><%=h recipe.description %></td>
    <td><%=h recipe.batch_size %></td>
    <td><%=h recipe.original_gravity %></td>
    <td><%=h recipe.final_gravity %></td>
    <td><%=h recipe.bitterness %></td>
    <td><%=h recipe.color %></td>
    <td><%=h recipe.procedure %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recipe', new_recipe_path %>