.button-panel
  - if can? :update, @recipe
    = link_to('Edit', edit_recipe_path(@recipe), class: 'button')
  - if can? :destroy, @recipe
    = link_to 'Delete', @recipe, confirm: 'Are you sure?', method: :delete, class: 'button'

%h2=  @recipe.name
.brewer
  %strong Brewer:
  = @recipe.user.name

= render "beer_profile"
.clear

%p= @recipe.description

%h3 Ingredients
.ingredients
  %h4 Fermentables
  .fermentable-additions
    = render :partial => 'fermentable_additions/list'|| "No fermentables have been added yet."
  .clear

  %h4 Hops
  .hop-additions
    = render :partial => 'hop_additions/list'|| "No hops have been added yet."
  .clear

  %h4 Yeast
  .yeast-additions
    = render(:partial => 'yeast_additions/recipe_listing',
             :collection => @recipe.yeast_additions,
             :as => :yeast_addition) || "No yeasts have been added yet."

- unless @recipe.procedure.empty?
  .procedure
    %h3 Procedure
    %pre= @recipe.procedure

%br
