%h2= h @recipe.name

.right.gravity-block
  %p
    %b Expected OG
    =h @recipe.original_gravity

  %p
    %b Expected FG
    =h @recipe.final_gravity
%p
  %b Style
  =h @recipe.beer_style.name
%p
  %b Mash type
  =h @recipe.mash_type
%p
  %b Batch size
  =h @recipe.batch_size
%p
  .text-block-label Description
  %p=h @recipe.description

- unless @recipe.bitterness.empty?
  %p
    %b Bitterness
    %p=h @recipe.bitterness

- unless @recipe.color.empty?
  %p
    %b Color
    %p=h @recipe.color


%p
  .text-block-label Ingredients
  %p= render 'ingredients_list', :ingredients => @recipe.recipe_ingredients

%p
  .text-block-label Procedure
  %pre= @recipe.procedure

= link_to 'Edit', edit_recipe_path(@recipe)
|
= link_to 'Back', recipes_path
