%h2= h @recipe.name
%em=h @recipe.beer_style.name

.right.gravity-block
  %p
    %b Expected OG
    =h @recipe.original_gravity

  %p
    %b Expected FG
    =h @recipe.final_gravity

.right.gravity-block
  - unless @recipe.bitterness.empty?
    %p
      %b Bitterness
      =h "#{@recipe.bitterness} IBUs"

  - unless @recipe.color.empty?
    %p
      %b Color
      =h "#{@recipe.color} SRM"


%div
  %p
    %b Mash type
    =h @recipe.mash_type

  %p
    %b Batch size
    =h @recipe.batch_size
  %p=h @recipe.description

%h3 Ingredients
.ingredients
  %h4 Fermentables
  .fermentable-additions
    = render(@recipe.fermentable_additions) || "No fermentables have been added yet."

  %h4 Hops
  .hop-additions
    = render(@recipe.hop_additions) || "No hops have been added yet."

  %h4 Yeast
  .yeast-additions
    = render(:partial => 'yeast_additions/recipe_listing',
             :collection => @recipe.yeast_additions,
             :as => :yeast_addition) || "No yeasts have been added yet."

- unless @recipe.procedure.empty?
  %div
    %h3 Procedure
    %pre= @recipe.procedure

%br
- if can? :update, @recipe
  = link_to('Edit', edit_recipe_path(@recipe)) + ' | '
= link_to 'Back', recipes_path
