.recipe-overview
  %h2= h @recipe.name
  %em=h @recipe.beer_style.name

  %div
    %p
      %b Mash type
      =h @recipe.mash_type

    %p
      %b Batch size
      =h @recipe.batch_size
    %p=h @recipe.description

= render "beer_profile"
.clear


%h3 Ingredients
.ingredients
  %h4 Fermentables
  .fermentable-additions
    = render :partial => 'fermentable_additions/list'|| "No fermentables have been added yet."
  .clear

  %h4 Hops
  .hop-additions
    = render :partial => 'hop_additions/list'|| "No hops have been added yet."
  .clear

  %h4 Yeast
  .yeast-additions
    = render(:partial => 'yeast_additions/recipe_listing',
             :collection => @recipe.yeast_additions,
             :as => :yeast_addition) || "No yeasts have been added yet."

- unless @recipe.procedure.empty?
  %div
    %h3 Procedure
    %pre= @recipe.procedure

%br
- if can? :update, @recipe
  = link_to('Edit', edit_recipe_path(@recipe)) + ' | '
= link_to 'Back', recipes_path
