%h2= h @recipe.name

.right.gravity-block
  %p
    %b Expected OG
    =h @recipe.original_gravity

  %p
    %b Expected FG
    =h @recipe.final_gravity

%p
  %b Style
  =h @recipe.beer_style.name

%p
  %b Mash type
  =h @recipe.mash_type
%p
  %b Batch size
  =h @recipe.batch_size
%p
  .text-block-label Description
  %p=h @recipe.description

.right.gravity-block
  - unless @recipe.bitterness.empty?
    %p
      %b Bitterness
      =h "#{@recipe.bitterness} IBUs"

  - unless @recipe.color.empty?
    %p
      %b Color
      =h "#{@recipe.color} SRM"

%h3 Ingredients
.ingredients
  %h4 Hops
  %ul.hop-additions
    %li= render @recipe.hop_additions

%h3 Procedure
%pre= @recipe.procedure

= link_to 'Edit', edit_recipe_path(@recipe)
|
= link_to 'Back', recipes_path
