<p>
  <b>Name:</b>
  <%=h @recipe.name %>
</p>

<p>
  <b>Mash type:</b>
  <%=h @recipe.mash_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @recipe.description %>
</p>

<p>
  <b>Batch size:</b>
  <%=h @recipe.batch_size %>
</p>

<p>
  <b>Original gravity:</b>
  <%=h @recipe.original_gravity %>
</p>

<p>
  <b>Final gravity:</b>
  <%=h @recipe.final_gravity %>
</p>

<p>
  <b>Bitterness:</b>
  <%=h @recipe.bitterness %>
</p>

<p>
  <b>Color:</b>
  <%=h @recipe.color %>
</p>

<p>
  <b>Procedure:</b>
  <%=h @recipe.procedure %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>