= form_for([@fermentable_addition.recipe, @fermentable_addition], :remote => @remote) do |f|
  = render 'shared/form_errors', :target => @fermentable_addition

  .field-row
    .field-group
      .field-label= f.label :fermentable_id
      .field= f.collection_select(:fermentable_id, Fermentable.all, :id, :name)
    .field-group
      .field-label= f.label :weight
      .field= f.text_field(:weight, :size => 6) + ' lbs.'

  .field-row
    = f.submit
