- show_controls = show_controls || false
#fermentables
  %table
    %thead
      %tr
        %th Name
        %th Color (SRM)
        %th Amount
        %th % of total
        - if show_controls
          %th
    %tbody
      - @recipe.fermentable_additions.order("weight DESC").each do |addition|
        %tr
          %td= link_to addition.fermentable.name, addition.fermentable
          %td= addition.fermentable.color
          %td= addition.weight.to_s + ' lbs.'
          %td= addition.percentage_of_malt_bill.round(1).to_s + '%'
          - if show_controls
            %td
              = link_to 'Edit',
                edit_recipe_fermentable_addition_path(addition.recipe_id, addition.id),
                remote: true
              = link_to 'Delete',
                [addition.recipe, addition],
                method: :delete,
                remote: true,
                data: { confirm: "Are you sure you want to delete the fermentable addition?" }

