#fermentables
  %table
    %thead
      %tr
        %th Name
        %th Color (SRM)
        %th Amount
        %th % of total
        %th
    %tbody
      - @recipe.fermentable_additions.order("weight DESC").each do |addition|
        %tr
          %td= link_to addition.fermentable.name, addition.fermentable
          %td= addition.fermentable.color
          %td= addition.weight.to_s + ' lbs.'
          %td= addition.percentage_of_malt_bill.round(1).to_s + '%'
          %td
            = link_to 'Edit',
              edit_recipe_fermentable_addition_path(addition.recipe_id, addition.id),
              remote: true
            = link_to 'Delete',
              [addition.recipe, addition],
              method: :delete,
              confirm: "Are you sure you want to delete the fermentable addition?",
              remote: true

  %br
  = link_to 'Add Fermentable',
            new_recipe_fermentable_addition_path(@recipe),
            remote: true, :"data-ingredient" => 'fermentables'

