%h1 Fermentables

%ul
  - @fermentables.each do |fermentable|
    %li
      = link_to fermentable.name, fermentable
      = fermentable.vendor if fermentable.vendor
      = "#{fermentable.color} SRM"

      = link_to 'Edit', edit_fermentable_path(fermentable) if can? :update, fermentable
      - if can? :destroy, fermentable
        = link_to 'Destroy', fermentable, :confirm => 'Are you sure?', :method => :delete


.actions
  = link_to 'New Fermentable', new_fermentable_path
