= form_for([@hop_addition.recipe, @hop_addition]) do |hop_form|
  .add-hop
    .field-row
      .field-group
        .field-label= hop_form.label :hop
        .field= hop_form.select :hop_id,
                          Hop.all.collect {|hop| [hop.name, hop.id] },
                          {:prompt => 'Choose Hop'}
      .field-group
        .field-label= hop_form.label(:alpha_acid)
        .field= hop_form.text_field(:alpha_acid, :size => 2) + ' %'

      .field-group
        .field-label= hop_form.label :beta_acid
        .field= hop_form.text_field(:beta_acid, :size => 2) + ' %'

      .field-group
        .field-label= hop_form.label :weight
        .field= hop_form.text_field(:weight, :size => 2) + ' oz.'

      .field-group
        .field-label= hop_form.label :duration
        .field= hop_form.text_field(:duration, :size => 2) + ' minutes'

    .field-row
      .field-group
        .field-label= hop_form.label :form
        .field= hop_form.select :form, [['Pellet', :pellet], ['Whole Leaf', :whole_leaf], ['Plug', :plug]]

      .field-group
        .field-label= hop_form.label :use
        .field= hop_form.select :use, [['First Wort', :first_wort], ['Boil', :boil], ['Dry Hop', :dry_hop]]

    .field-row
      = hop_form.submit

