- show_controls = show_controls || false

.hop-addition
  %span.weight= hop_addition.weight.to_s + ' oz.'
  = link_to hop_addition.hop.name, hop_addition.hop, :class => 'hop-type'
  (
  %span.duration= "#{hop_addition.duration} min."
  )

  - if show_controls
    %span.controls
      = link_to 'Edit', edit_recipe_hop_addition_path(hop_addition.recipe_id, hop_addition.id)
      = link_to 'Delete',
        [hop_addition.recipe, hop_addition],
        :method => :delete,
        :confirm => "Are you sure you want to delete the hop addition?",
        :remote => true

