- show_controls = show_controls || false
#hops
  %table
    %thead
      %tr
        %th Name
        %th Weight
        %th Duration
        %th IBUs
        - if show_controls
          %th
    %tbody
      - @recipe.hop_additions.order("duration DESC", "weight DESC").each do |addition|
        %tr
          %td= link_to addition.hop.name, addition.hop, :class => 'hop-type'
          %td= addition.weight.to_s + ' oz.'
          %td= addition.duration.to_s + ' min.'
          %td= addition.IBUs.round
          - if show_controls
            %td
              = link_to 'Edit',
                edit_recipe_hop_addition_path(addition.recipe_id, addition.id),
                remote: true
              = link_to 'Delete',
                [addition.recipe, addition],
                method: :delete,
                confirm: "Are you sure you want to delete the hop addition?",
                remote: true

