%h1 Listing yeasts

%table
  %tr
    %th Name
    %th Catalog ID
    %th Vendor
    %th Form
    %th Atten. %
    %th Min Temp.
    %th Max Temp.
    %th{:colspan => 2}

  - @yeasts.each do |yeast|
    %tr
      %td= link_to yeast.strain, yeast
      %td= yeast.catalog_id
      %td= yeast.vendor
      %td= yeast.form
      %td= yeast.attenuation
      %td= yeast.min_temp
      %td= yeast.max_temp
      %td= link_to 'Edit', edit_yeast_path(yeast)
      %td= link_to 'Destroy', yeast, :confirm => 'Are you sure?', :method => :delete


.actions
  = link_to 'New Fermentable', new_yeast_path
