%h1 Yeasts

%table.yeast-list
  %thead
    %tr
      %th Strain
      %th Vendor
      %th Catalog ID
      %th Form
      - if can?(:destroy, Yeast) or can?(:update, Yeast)
        %th controls
  %tbody
    - @yeasts.each do |yeast|
      %tr
        %td= link_to yeast.strain, yeast
        %td= yeast.vendor
        %td= yeast.catalog_id
        %td= yeast.form
        - if can?(:destroy, Yeast) or can?(:update, Yeast)
          %td
            = link_to 'Edit', edit_yeast_path(yeast) if can? :update, yeast
            - if can? :destroy, yeast
              = link_to 'Destroy', yeast, method: :delete, data: { confirm: 'Are you sure?' }

- if can? :create, Yeast
  .actions
    = link_to 'New Yeast', new_yeast_path, class: 'button'
