%h1 Yeasts

%ul.yeast-list
  - @yeasts.each do |yeast|
    %li
      = link_to yeast.strain, yeast
      = "#{yeast.vendor} (#{yeast.catalog_id})"
      %em= yeast.form
      %td= link_to 'Edit', edit_yeast_path(yeast)
      %td= link_to 'Destroy', yeast, :confirm => 'Are you sure?', :method => :delete

.actions
  = link_to 'New Yeast', new_yeast_path
