#header
  .site-title
    %h1= link_to "Brewering", root_path
    %h2  the act of being a brewer

  #user-nav
    - if user_signed_in?
      = "Welcome #{current_user.name}"
      %br
      .action-panel
        = link_to 'Profile', edit_user_registration_path
        = link_to 'Sign out', destroy_user_session_path, class: 'button', method: 'delete'
    - else
      .action-panel
        = link_to 'Sign up', new_user_registration_path, class: 'button'
        or
        = link_to 'Sign in', new_user_session_path, class: 'button'
