!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title ShareBrew
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag


  %body
    #container
      #header
        .site-title
          %h1= link_to "ShareBrew", root_path
          %h2  open source brewering

        #user-nav
          - if user_signed_in?
            = "Welcome #{current_user.email}"
            %br
            .action-panel
              = link_to 'Sign out', destroy_user_session_path, class: 'button'
          - else
            .action-panel
              = link_to 'Sign up', new_user_registration_path, class: 'button'
              or
              = link_to 'Sign in', new_user_session_path, class: 'button'

      #nav
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'My Recipes', recipes_path
          %li= link_to 'Beer Styles', beer_styles_path
          %li= link_to 'Fermentables', fermentables_path
          %li= link_to 'Hops', hops_path
          %li= link_to 'Yeast', yeasts_path

      #body
        #content
          - if flash[:notice]
            %p.flash.notice= notice

          - if flash[:error]
            %p.flash.error= flash[:error]

          - if flash[:alert]
            %p.flash.error= flash[:alert]


          = yield

