!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title ShareBrew
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag


  %body
    #container
      #header
        %h1= link_to "ShareBrew", root_path
        %h2  open source brewering

        #user-nav
          - if user_signed_in?
            Signed in as
            = current_user.email
            not you?
            = link_to 'Sign out', destroy_user_session_path
          - else
            = link_to 'Sign up', new_user_registration_path
            or
            = link_to 'Sign in', new_user_session_path

        .clear

      #nav
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'My Recipes', recipes_path
          %li= link_to 'Beer Styles', beer_styles_path
          %li= link_to 'Fermentables', fermentables_path
          %li= link_to 'Hops', hops_path
          %li= link_to 'Yeast', yeasts_path

      #body
        #content
          - if flash[:notice]
            %p#notice.flash= notice

          - if flash[:error]
            %p#error.flash= flash[:error]

          - if flash[:alert]
            %p#error.flash= flash[:alert]


          = yield

        .sidebar
          %ul
            %li
              %h4
                %span
                  Navigate
                %ul.blocklist
                  %li= link_to 'Home', root_path
                  %li= link_to 'My Recipes', recipes_path
                  %li= link_to 'Beer Styles', beer_styles_path
                  %li= link_to 'Fermentables', fermentables_path
                  %li= link_to 'Hops', hops_path
                  %li= link_to 'Yeast', yeasts_path
        .clear


      #footer
        .footer-content
        .footer-width
