!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title ShareBrew
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag


  %body
    #container
      = render 'layouts/header'

      #nav
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'My Recipes', recipes_path
          %li= link_to 'Beer Styles', beer_styles_path
          %li= link_to 'Fermentables', fermentables_path
          %li= link_to 'Hops', hops_path
          %li= link_to 'Yeast', yeasts_path

      #body
        - if flash[:notice]
          %p.flash.notice= notice
          .clear

        - if flash[:error]
          %p.flash.error= flash[:error]
          .clear

        - if flash[:alert]
          %p.flash.error= flash[:alert]
          .clear

        #content
          = yield

        - if content_for? :right_sidebar
          #right-sidebar
            = yield :right_sidebar

